.button {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;

  color: $white-tx-bg-color;
  background-color: $hover-focus-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;

  @include transition(box-shadow);

  &:hover,
  &:focus {
    box-shadow: $main-button-shadow;
  }
}