/* DONE */
/* Заголовок особенности скрыт */
.peculiarities-title {
    font-size: 0;
}
.peculiarities {
    &__list {
    display: flex;
    }
    &__item + &__item {
        margin-left: 30px;
    }
    &__item {
    width: calc((100% - 90px) / 4);
    
    }
    &__icon {
        
        border-radius: 4px;
        /* background-color: $peculiarities-list-bg; */
        background-size: cover ;
    }
    &__title {
        margin-top: 30px;
        font-size: 14px;
        /* - размер не наследуется от body */
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
    }
    &__subtitle {
        margin-top: 10px;
        color: $second-text-color;
        line-height: 1.71;
    }
    &__bg-icon {
        background-color: $peculiarities-list-bg;
        width: 100%;
        height: 120px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}






