.header {
    position: relative;
    background-color: $white-tx-bg-color;
    @include header-border
}

/* обертка для всех блоков в хедере */
.header-wrapper {
    display: flex;
    align-items: center;
}

/* навигационное меню */
.header-menu {
    display: flex;
    align-items: center;

    &__list {
        display: flex;
        margin-left: 93px;
    }

    &__item+&__item {
        margin-left: 50px;
    }
}

.header-menu__link {
    display: block;
    /* - У ссылок не работает вертикальная геометрия, потому им нужно ставить display block */
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $main-text-color;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    @include transition (color);

    &::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -1px;

        display: block;
        width: 0;
        height: 4px;
        background-color: $hover-focus-color;
        border-radius: 2px;

        opacity: 0;
        /* - не видно по умолчанию подчёркивание в меню*/
        @include transition (opacity);
        @include transition (width);

    }

    &:hover,
    &:focus,
    &--current {
        color: $hover-focus-color;

        &::after {
            opacity: 1;
            width: 100%;
        }
    }
}

.contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;

    &__item+&__item {
        margin-left: 50px;
    }

    &__email,
    &__phone {
        display: flex;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;

        color: $second-text-color;

        font-weight: 500;

        letter-spacing: 0.02em;
        text-decoration: none;

        @include transition (color);

        &:hover,
        &:focus {
            color: $hover-focus-color;
        }
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor
    }
}

/* DONE */