.header {
    min-height: 60px;
    background-color: $white-tx-bg-color;
    @include header-border;

    @media screen and (min-width:768px) {
        padding: 0;
    }
}

.header-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;

    @media screen and (min-width:320px) and (max-width:767px) {
        position: relative;
    }

    @media screen and (min-width:768px) {
        padding: 0;
    }
}

.header-menu {
    position: absolute;
    padding: 48px 83px 48px 40px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $white-tx-bg-color;
    box-shadow: $mobile-menu-shadow;
    transform: translateY(-101%);
    @include transition (transform);
    z-index: 1;

    @media screen and (min-width:320px) and (max-width: 479px) {
        padding: 48px 40px;
    }

    @media screen and (min-width:768px) {
        padding: 0;
        position: static;
        transform: translateY(0);
        display: flex;
        align-items: center;
        margin-left: 88px;
        box-shadow: none;
        display: flex;
        justify-content: space-between;
    }

    @media screen and (min-width:1200px) {
        margin-left: 93px;
    }
}

.header-menu.is-open {
    transform: translateY(0);
}

.header-menu__list {
    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
    }
}

.header-menu__item+.header-menu__item {
    margin-top: 32px;

    @media screen and (min-width:768px) {
        margin-top: 0;
        margin-left: 50px;
    }
}

.header-menu__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.02em;
    color: $main-text-color;
    text-decoration: none;

    @media screen and (min-width:768px) {
        position: relative;
        font-size: 14px;
        padding-top: 32px;
        padding-bottom: 32px;
        @include transition (all);

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            display: block;
            width: 100%;
            height: 4px;
            background-color: $hover-focus-color;
            border-radius: 2px;
            opacity: 0;
            @include transition (opacity);
        }

        &:hover,
        &:focus {
            color: $hover-focus-color;
            @include transition (all);

            &:after {
                opacity: 1;
            }
        }
    }
}

.header-menu__link--current {
    color: $hover-focus-color;
    position: relative;

    @media screen and (min-width:768px) {
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            display: block;
            width: 100%;
            height: 4px;
            background-color: $hover-focus-color;
            border-radius: 2px;
            opacity: 1;
        }
    }
}

.contact-list {
    margin-top: 302px;

    @media screen and (max-width:479px) {
        margin-top: 100px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 0;
        margin-left: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row-reverse;
        align-items: center;
        margin-left: auto;
    }
}

.contact-list__item {
    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
    }
}

.contact-list__item+.contact-list__item {
    margin-top: 32px;

    @media screen and (min-width:768px) {
        margin-top: 0;
        margin-bottom: 10px;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 0px;
        margin-right: 30px;
    }

}

.contact-list__phone {
    display: block;
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $hover-focus-color;

    @media screen and (min-width:320px) and (max-width:479px) {
        font-size: 24px;
    }

    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: $second-text-color
    }

    @media screen and (min-width:1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        @include transition (color);

        &:hover,
        &:focus {
            color: $hover-focus-color;
        }
    }
}

.contact-list__email {
    display: block;

    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: $second-text-color;

    @media screen and (min-width:768px) {
        font-size: 12px;
        display: flex;
        align-items: center;

    }

    @media screen and (min-width:1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        @include transition (color);

        &:hover,
        &:focus {
            color: $hover-focus-color;
        }
    }
}

.contact-list__icon {
    display: none;

    @media screen and (min-width:768px) {
        display: block;
        margin-right: 10px;
        fill: currentColor;
    }
}

.social-list {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;

    @media screen and (max-width:479px) {
        flex-direction: column;
        align-content: start;

    }

    @media screen and (min-width:768px) {
        display: none;
    }
}


.social-list__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

    @media screen and (max-width:479px) {
        padding-right: 0;
        margin-bottom: 10px;
        border: none
    }
}

.social-list__link {
    display: block;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $hover-focus-color;
}