/* OK  */
.title {

    &__doing,
    &__team,
    &__client {

        font-weight: 700;
        font-size: 28px;
        text-align: center;
        color: $main-text-color;

        @media screen and (min-width:1200px) {
            font-size: 36px;

        }
    }


}

.portfolio-title,
.peculiarities-title {
    font-size: 0;
}