.portfolio-list {
    display: block;
    margin-top: 40px;
    margin-bottom: -30px;

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    @media screen and (min-width:1200px) {
        margin-top: 50px;

    }

    &__item {
        margin-bottom: 30px;


        @media screen and (min-width:768px) {
            width: calc((100% - 30px) / 2);
        }

        @media screen and (min-width:1200px) {
            width: calc((100% - 60px) / 3);
        }
    }

    &__link {
        display: block;
        height: 100%;
        text-decoration: none;
        @include transition (box-shadow);

        &:hover,
        &:focus {
            box-shadow: $project-shadow;
        }

        &:hover .portfolio-list__descr,
        &:focus .portfolio-list__descr {
            transform: translateY(0)
        }
    }

    &__title {
        color: $main-text-color;

        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.06em;
    }

    &__subtitle {
        margin-top: 4px;
        color: $second-text-color;

        font-size: 16px;

    }

    &__header {
        padding: 20px 24px;
        @include project-border;
        border-width: 0 1px 1px 1px;
    }

    &__overlay {
        position: relative;
        overflow: hidden;
    }

    &__descr {
        position: absolute;

        padding: 77px 24px;

        width: 100%;
        height: 100%;
        background: $overlay-bg-color;

        bottom: 0;
        transform: translateY(100%);

        /*  - о оси y опускается вниз на всю высоту родителя */

        font-size: 18px;
        line-height: 1.56;
        color: $white-tx-bg-color;

        @include transition (transform);

        @media screen and (min-width: 768px) {
            padding: 49px 24px 77px 24px;
        }

        @media screen and (min-width: 1200px) {
            padding: 63px 24px;
        }
    }




}