$footer-social-bg: rgba(255, 255, 255, 0.1);
$peculiarities-list-bg: #F5F4FA;
$overlay-bg-color: rgba(33, 150, 243, 0.9);
$footer-bg-color: #2F303A;
$portfolio-filter-bg: #F5F4FA;
$doing-subtitle-bg: rgba(47, 48, 58, 0.8);
$bg-team: #F5F4FA;
$banner-linear-gradient: rgba(47, 48, 58, 0.4);
$backdrop-bg: rgba(0, 0, 0, 0.2);